
{% extends 'base.html' %}

{% block content %}
  <div style="background-color: orange; height: 50px;"></div>
  <div style="text-align: center;">
    <h1 class="form-title">Milligram Pharmacy Co. LTD</h1>
   <form class="login-form" action="{% url 'dashboard' %}" method="POST" style="display: inline-block;">
      {% csrf_token %}
  <label for="username" style="display: inline-block; text-align: center; width: 100px;">Username:</label>
  <input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>
  <label for="password" style="display: inline-block; text-align: center; width: 100px;">Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>
  <button type="submit">Login</button>
  <a href="{% url 'new_user' %}"><button type="button">New User Registration</button></a>
</form>

    </form>
  </div>
{% endblock %}

